html,body {
	width: 100%;
	height: 100%;
}

.demo {
	position: relative;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	width: 400px;
	height: 200px;
	background: #ccc;
	overflow: hidden;
}

.sector1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	border-radius:0 0 50px 0;
	background-color: #fc0;
}

.sector2 {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	border-radius:50px 0 0 0;
	background-color: #fc0;
}

